<div class="section-body">
  <ul class="item-list">
    <li class="item-row" *ngFor="let item of items">
      <div class="item-main">
        <span class="item-title">{{ item.name }}</span>
      </div>
      <button type="button" class="item-action" (click)="startEdit(item)">Edytuj</button>
    </li>
  </ul>
  <form class="item-form" [formGroup]="form" (ngSubmit)="save()">
    <h3>{{ editingId ? 'Edycja kategorii' : 'Nowa kategoria' }}</h3>
    <label>
      <span>Nazwa</span>
      <input type="text" formControlName="name" />
    </label>
    <div class="form-actions">
      <button type="button" class="btn-secondary" (click)="startAdd()">Wyczyść</button>
      <button type="submit" class="btn-primary">Zapisz</button>
    </div>
  </form>
</div>
