<div class="discount-wrapper" *ngIf="!hasLoadError">

  <div
    class="toggle-button"
    role="button"
    tabindex="0"
    (click)="toggle()"
    [class.open]="isOpen"
  >
    <img
      src="assets/discount/discount.png"
      alt="Promocja"
      class="discount-tag"
    />

    <span class="text">
      {{ isOpen ? 'Ukryj zniżki' : 'Pokaż zniżki' }}
    </span>

    <span class="arrow">
      {{ isOpen ? '▲' : '▼' }}
    </span>
  </div>

  <div class="discount-cards" [class.open]="isOpen">
    <div
      class="discount-card"
      *ngFor="let code of discountCodes"
      [ngClass]="cardClass(code.platform)"
    >
      <div class="card-left">
        <img [src]="logoSrc(code.platform)" [alt]="code.platform" />
      </div>

      <div class="card-right">
        <div class="promo-text">
          {{ code.description }}
        </div>

        <div class="code-box">
          <span class="code">{{ code.codeValue }}</span>
          <button type="button" class="copy-button" (click)="copyCode(code.codeValue)" aria-label="Kopiuj kod">
            <img src="assets/discount/kopiuj.png" class="copy-icon" alt="" />
          </button>
        </div>

        <button type="button" class="go-shop" (click)="openShop(code.platform)">
          Przejdź do sklepu!
        </button>
      </div>
    </div>
  </div>
</div>
