@import "styles/breakpoints";
@import "styles/scaling";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: $font-md;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: $font-md;
  line-height: 1.4;
}
